@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
body {
    color: $primary;
    font-family: 'Playfair Display', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}