.footer {
    padding: 75px 0;
    color: #ffffff;
    &_bg {
        background-color: $footer;
    }

    &__logo {
        padding-bottom: 20px;
    }

    &__socials,
    &__list{
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
    }
    &__social{
        margin-right: 15px;
        text-align: center;
        background: #fff;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        &:last-child {
            margin-right: 0;
        }
    }
    &__link{
        display: inline-block;
        color: #fff;
        text-decoration: none;
        &_red {
            color: $red;
            text-decoration: underline;
        }
    }
    &__title {
        font-size: 28px;
        padding-bottom: 35px;
        margin: 0;
    }
    &__list{
        display: flex;
        flex-direction: column;
        &_capitalize {
            text-transform: capitalize;
        }
    }
}